<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #034774;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-branca.png" alt="MediEx" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">eSocial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.facebook.com/mediexsaude/" title="Software Integrado de Gestão Ocupacional">SOC <fa-icon [icon]="faExternalLinkAlt" size="xs"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.facebook.com/mediexsaude/"><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.instagram.com/mediex.solucoes/"><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <div class="container">
teste
  </div>
</main>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15800.375705387276!2d-34.9089526!3d-8.0919037!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9325576410724d65!2sMediex%20Solu%C3%A7%C3%B5es%20em%20Sa%C3%BAde%20e%20Seguran%C3%A7a%20Ocupacional!5e0!3m2!1spt-BR!2sbr!4v1631602953157!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<footer>
  <div class="container">
    ©2021 MEDIEX - Todos os direitos reservados
  </div>
</footer>