<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #034774;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-branca.svg" alt="MediEx" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">eSocial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.facebook.com/mediexsaude/"><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.instagram.com/mediex.solucoes/"><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.facebook.com/mediexsaude/" title="Software Integrado de Gestão Ocupacional">SOC <fa-icon [icon]="faExternalLinkAlt" size="xs"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-right">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>
      <div class="col-12 col-md-7 col-lg-6">

        <!-- Heading -->
        <h1 class="mat-display-3 mb-3" style="color: #363636">
          Levamos <span class="text-danger">Segurança e Saúde</span>
          para sua empresa
        </h1>

        <!-- Text -->
        <p class="mat-headline mb-3 mb-lg-4" style="text-transform: uppercase;color: #363636">
          Serviços de <span class="text-danger">saúde e segurança ocupacional</span>
          realizados na sua empresa (In Company)
        </p>

        <!-- Buttons -->
        <div>
          <a href="https://sistema.soc.com.br/WebSoc/" mat-raised-button color="primary" style="font-size: 16px">Sistema SOC</a>
          <a href="#" mat-button class="ms-1" style="font-size: 16px">
            Torne-se cliente
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div>
</main>
<section class="mt-5 py-1 py-md-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-danger mb-3">
          <i class="fas fa-piggy-bank fa-3x"></i>
        </div>
        <!-- Heading -->
        <h2 class="mat-title">
          Melhor custo/benefício do mercado
        </h2>

        <!-- Text -->
        <p class="mat-body-1 mb-6 mb-md-0">
          Sem custos adicionais trazemos uma redução real de custo 
        </p>

      </div>
      <div class="col-12 col-md-3" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-danger mb-3">
          <i class="fas fa-laptop-medical fa-3x"></i>
        </div>

        <!-- Heading -->
        <h2 class="mat-title">
          Gestão eletrônica integrada
        </h2>

        <!-- Text -->
        <p class="mat-body-1 mb-6 mb-md-0">
          Gestão eletrônica integrada de saúde ocupacional e segurança do trabalho.<br>SOC
        </p>

      </div>
      <div class="col-12 col-md-3">

        <!-- Icon -->
        <div class="icon text-danger mb-3">
          <i class="fas fa-ambulance fa-3x"></i>
        </div>

        <!-- Heading -->
        <h2 class="mat-title">
          Vamos até a sua empresa - In Company
        </h2>

        <!-- Text -->
        <p class="mat-body-1 mb-0">
          Serviços de saúde segurança ocupacional realizados na sua empresa (in company)
        </p>

      </div>
      <div class="col-12 col-md-3">

        <!-- Icon -->
        <div class="icon text-danger mb-3">
          <i class="fas fa-vial fa-3x"></i>
        </div>

        <!-- Heading -->
        <h2 class="mat-title">
          Acesso online a exames
        </h2>

        <!-- Text -->
        <p class="mat-body-1 mb-0">
          ACESSO ONLINE A EXAMES E ASOS
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
<section>
  <div class="container mt-4 mb-4">
    <h1 class="mat-display-1 text-center mb-1 text-danger">Nossas soluções</h1>
    <h2 class="mat-headline text-center mb-4">Os serviços de Saúde Ocupacional e Segurança do Trabalho da Mediex compreendem:</h2>
    <div class="row">
      <div class="col-md-3"><img src="assets/hands-of-unrecognizable-female-doctor-writing-on-form-and-typing-on-laptop-keyboard.jpg" alt="Saúde Ocupacional e Previdenciária" class="imagem-servicos"></div>
      <div class="col-md-3 pt-2">
        <h3 class="mat-subheading-2 mb-1">Saúde Ocupacional e Previdenciária</h3>
        <p class="mat-body-1">Somos uma empresa brasileira cuja missão está em trazer soluções práticas relacionadas à medicina ocupacional e a segurança do trabalho para toda instituição preocupada com seus trabalhadores e com a legislação vigente.</p>
      </div>
      <div class="col-md-3"><img src="assets/close-up-hand-holding-safety-helmet.jpg" alt="Saúde Ocupacional e Previdenciária" class="imagem-servicos"></div>
      <div class="col-md-3 pt-2">
        <h3 class="mat-subheading-2 mb-1">Segurança do Trabalho</h3>
        <p class="mat-body-1">Somos uma empresa especializada em soluções práticas para os segmentos de medicina ocupacional e segurança do trabalho. Com oito anos de experiência na área, nosso foco é garantir as melhores condições de trabalho para os colaboradores da sua empresa ao oferecer soluções voltadas à saúde, higiene e segurança ocupacional que devem fazer parte do dia a dia da instituição.</p>
      </div>
    </div>
  </div>
</section>
<div id="endereco">
  <h1 class="mat-headline text-center p-3">Endereço</h1>
  <div class="container">
    <mat-list>
      <a mat-list-item href="https://goo.gl/maps/8ZUY4QHQHwF1jNMH8"
        ><mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line><b>UNIDADE IMBIRIBEIRA</b><br>
          Av. Mascarenhas de Morais, 1038, Imbiribeira - Recife/PE
        </div>
      </a>
      <mat-list-item
        ><mat-icon mat-list-icon>access_time</mat-icon>
        <div mat-line><b>Horário de funcionamento</b><br>07h30 às 17h</div>
      </mat-list-item>
      <a mat-list-item href="tel:8130400613"
        ><mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line><b>Telefone</b><br>81 3040 0613</div>
      </a>
    </mat-list>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15800.375705387276!2d-34.9089526!3d-8.0919037!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9325576410724d65!2sMediex%20Solu%C3%A7%C3%B5es%20em%20Sa%C3%BAde%20e%20Seguran%C3%A7a%20Ocupacional!5e0!3m2!1spt-BR!2sbr!4v1631602953157!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<footer class="mt-0 pt-0">
  <div class="container mt-4 pb-3">
    <p><img src="assets/logo.svg" alt="MediEx" height="32"><br>
      Soluções em Saúde e Segurança Ocupacional
    </p>
    <p>
      <a href="https://www.facebook.com/mediexsaude/" class="me-2"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/mediex.solucoes/" class="me-2"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/mediexsaude/" title="Software Integrado de Gestão Ocupacional">SOC <i class="fas fa-external-link-alt"></i></a>
    </p>
    <p class="text-center">
      <small>©2021 MEDIEX - Todos os direitos reservados</small>
    </p>
  </div>
</footer>